body{
    background:  #232323;
    margin: 0;
    font-family: "avenir", "montserrat";
}
#container{
    width:  600px;
    margin: 20px auto;

}
.square{
    background: red;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    border-radius: 10%;
    transition: background 0.8s;
}
/*span{
    color: white;
}*/
#colorDisp{
    font-size: 200%;
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    line-height: 1.1;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}
#bar{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    background-color: steelblue;
    color: white;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 1.0s;
    outline: none;
}
button:hover{
    background: steelblue;
    color: white;
}
#message{
    display: inline-block;
    width: 20%;
}
