body{
    background:  #232323;
}
#container{
    width:  600px;
    margin: 0 auto;

}
.square{
    background: red;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
}
/*span{
    color: white;
}*/

h1{
    color: white;
}
#bar{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    background-color: blue;
}